/* grid layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 2px;
  background-color: #46445a;
  /* padding: 6px; */
  /* margin: 2%; */
}

.arrayColor {
  background-color: #fff !important;
  color: #797a7e;
}

.grid-container>div {
  background-color: #fff;
  text-align: center;
  padding: 15px 0;
  font-weight: bold;
}

.result {
  margin: 6% !important;
  color: #000;
  background-color: #fddb3a;
  width: 85%;
  padding-top: 12%;
  padding-bottom: 12%;
  height: 33vh;
  text-align: center;
  font-size: 100px;
  margin-left: 7.5% !important;
  float: left;
  transition: all 0.3s ease;
}

.re {
  margin-top: 3vh;
  text-align: center;
  color: #fff;
}

.fil {
  background-color: #fddb3a !important;
}

h4 {
  color: #fff;
}

hr {
  border: 0;
  height: 1px;
  margin-top: 20px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: white;
}

.body {
  overflow: auto;
}

.side-bar {
  float: left;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #46445a;
  width: 14%;
  height: 100vh;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 15px #212121;
  padding-top: 10%;
  padding-left: 1.5vw;
}

.list-section {
  padding-left: 10%;
  height: 10%;
}

.expand-icon {
  float: left;
  transition: all 0.3s ease;
}

.expand-icon i {
  cursor: pointer;
  color: white;
  padding-top: 8vh;
  padding-left: 5vw;
  transition: all 0.3s ease;
}

.row {
  overflow: auto;
}

.row i {
  color: white;
  float: left;
  size: 1vmax;
  font-size: 1vmax;
  padding-right: 4px;
  transition: all 0.3s ease;
}

.row h3 {
  float: left;
  font-size: 1.1vmax;
  padding-left: 4px;
  margin-top: -2.3px;
  color: white;
  transition: all 0.3s ease;
}

/* Side bar styling ends */
/* Main container styling */
.main-container {
  float: right;
  width: 86%;
  transition: all 0.3s ease;
}

.expand-container {
  width: 95% !important;
  transition: all 0.3s ease;
}

/* Main container styling ends*/
/* Top nav bar styling */
.top-nav-bar {
  transition: all 0.3s ease;
  overflow: auto;
  background-color: #46445a;
  padding: 1.5%;
  padding-bottom: 0% !important;
  position: relative;
}

.top-nav-bar .main-ques {
  color: white;
  float: left;
}

.top-nav-bar a .home-icon {
  vertical-align: middle;
  float: right;
  color: white;
  font-size: 32px;
  margin-top: 2px;
  transition: all 0.3s ease;
}

/* Top nav bar styling ends */
/* Sticky nav bar */
.nav {
  transition: all 0.3s ease;
  list-style: none;
  background-color: #46445a;
  margin: 0;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  text-align: center;
  position: relative;
}

.nav li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.2em;
}

.nav a {
  display: inline-block;
  color: lightgrey;
}

.nav :hover {
  color: white;
}

#nav-bar {
  transition: all 0.3s ease;
  overflow: hidden;
  background-color: #46445a;
  box-shadow: 0px 100px 1000px #212121;
}

/* Sticky nav bar ends */
.main-box {
  min-height: 60vh;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.animation {
  transition: all 0.3s ease;
  float: right;
  background-color: #46445a;
  max-height: 75vh;
  min-height: 75vh;
  width: 48%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.code {
  transition: all 0.3s ease;
  float: left;
  background-color: #46445a;
  width: 48%;
  max-height: 75vh;
  min-height: 75vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.code-text {
  color: white;
  padding-top: 0.2%;
  font-size: 100%;
}

.stepExecutionDisplay {
  padding-top: 2%;
  padding-left: 5%;
}

.temp-container {
  width: 100%;
  height: fit-content;
  padding-top: 2.5vh;
  /* padding-bottom: 25vh; */
}

#info {
  text-align: center;
  padding-top: 5%;
  color: #fff;
}

.original-container {
  width: 100%;
  padding-bottom: 10%;
  margin-top: 4vh;
}

.out-box .box {
  border: 2px solid #212121;
  height: 18vh;
  width: 13vw;
  text-align: center;
}
.box {
  border: 2px solid #212121;
  height: 18vh;
  text-align: center;
}

.temp-container .out-box {
  float: left;
  width: 50%;
  padding-left: 12%;
  padding-right: 10%;
  padding-top: 2%
}
.sum-container{
  width: 100%;
  margin-top: 22vh;
}
.sum-box {
  width: 26vw;
  padding-left: 13vw;
}

.symbol pre {
  float: left;
  font-size: 4vw;
  font-weight: bold;
  padding-top: 5vh;
}

.input-field {
  background-color: #403e4e;
  margin: 1%;
  padding: 2%;
  font-size: 115%;
  color: #fff;
  width: 10vw;
}

label {
  color: white;
  font-size: 120%;
}

.button-style {
  cursor: pointer;
  padding: 3%;
  font-size: 115%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: aliceblue;
  margin-top: 2%;
  border: 2px solid #46445a;
  border-radius: 20px;
  outline: none;
}

.button-style:hover {
  background-color: #46445a;
  border: 2px solid white;
  color: #fff;
}

.head {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #403e4e;
  box-shadow: 0px 5px 15px #212121;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.yellow {
  background-color: darkorange;
}

.green {
  background-color: green;
}

.user-text {
  color: #fff;
  padding-top: 5.8vh;
}

.bottom-input {
  display: none !important;
}

.expand {
  width: 90% !important;
  display: block !important;
  transition: all 0.3s ease;
}

.expand .box {
  min-height: 50vh;
  transition: all 0.3s ease;
  background-color: green;
}

.expand .box h1 {
  margin-top: 9vh;
  font-size: 6vw;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 800px) {

  /* .main-container {
    width: 100%;
    transition: all 0.3s ease;
  } */
  /* .side-bar {
    transition: all 0.3s ease;
    width: 0%;
    display: none;
    visibility: hidden;
  } */
  .top-nav-bar {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    transition: all 0.3s ease;
  }

  .top-nav-bar .main-ques {
    font-size: 30px;
    transition: all 0.3s ease;
  }

  .top-nav-bar a .home-icon {
    transition: all 0.3s ease;
    padding-top: 1px;
    font-size: 30px;
  }

  .nav {
    transition: all 0.3s ease;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .animation {
    transition: all 0.3s ease;
    margin-top: 10%;
    width: 100%;
  }

  .code {
    transition: all 0.3s ease;
    margin-top: 5%;
    width: 100%;
  }

  /*
  .bottom-input {
    transition: all 0.3s ease;
    padding-top: 1vh;
    display: inline-block !important;
    min-width: 100vw;
    background-color: #46445a;
    position: fixed;
    bottom: 0;
    padding-left: 10%;
  } */
  /* .input-bottom-box {
    transition: all 0.3s ease;
    float: left;
    width: 20%;
    padding-left: 5%;
  }

  .input-bottom-box input {
    transition: all 0.3s ease;
    margin-left: -15%;
  }

  .input-bottom-button {
    transition: all 0.3s ease;
    margin-top: 0.5vh;
    float: right;
    width: 40%;
  }

  .input-bottom-button div {
    transition: all 0.3s ease;
    float: right;
    width: 40%;
  } */
  .original-container {
    margin-top: 100px !important;
  }

  .expand .box h1 {
    margin-top: 4vh !important;
  }

  .temp-container {
    padding-bottom: 15vh;
  }
.temp-container .out-box {
    padding-left: 6%;
    padding-right: 3%;
  }

  .symbol pre {
    padding-top: 6vh;
    font-size: 7vw;
  }

  .user-text {
    padding-top: 45%;
  }
  .temp-container .out-box{
    padding-top: 0% !important;
  }

  .out-box .box{
    width: 30vw;
  }
  .sum-container{
    margin-top: 10vh;
  }
  .user-text{
    padding-top: 5.5vh;
  }
  .sum-box {
    width: 52vw;
    padding-left: 23vw;
  }
  .animation{
    min-height: 77vh;
    max-height: 77vh;
    margin-bottom: 2%;
  }
}

@media only screen and (max-width: 641px) {
  .temp-container .sum-div{
    margin-top: 0% !important;
  }
  .original-container {
    margin-top: 10px !important;
    padding-top: 80px !important;
  }

  .top-nav-bar {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    transition: all 0.3s ease;
  }

  .top-nav-bar .main-ques {
    font-size: 22px;
    transition: all 0.3s ease;
  }

  .top-nav-bar a .home-icon {
    transition: all 0.3s ease;
    font-size: 20px;
  }

  .nav {
    transition: all 0.3s ease;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .bottom-input {
    padding-top: 0.2vh;
  }

  .input-bottom-box {
    padding-left: 0px;
  }

  .input-bottom-box input {
    margin-left: -5%;
    width: 60%;
  }

  .input-bottom-box label {
    font-size: 3vw;
  }

  .input-bottom-button {
    margin-top: 1.5vh;
  }

  .bottom-button {
    font-size: 80%;
    padding-left: 8%;
    padding-right: 8%;
  }

  .animation {
    transition: all 0.3s ease;
    margin-top: 10%;
    width: 100%;
  }

  .code {
    transition: all 0.3s ease;
    margin-top: 10%;
    width: 100%;
  }

  .expand .box h1 {
    margin-top: 14vh !important;
    font-size: 7vh !important;
  }

  .symbol pre {
    padding-top: 5vh;
    font-size: 14vw;
  }

  .user-text {
    padding-top: 5.6vh;
  }

  .code {
    margin-bottom: 3vh;
  }

}

/* for js */
.hide {
  visibility: hidden;
}

.A,
.B {
  width: 15%;
  height: 10vh;
  border: 1px solid #000;
  margin: 10%;
  float: left;
  text-align: center;
}

.temp {
  width: 15%;
  height: 10vh;
  border: 1px solid #000;
  margin: 10%;
  margin-left: 25%;
  float: left;
  text-align: center;
}

.show {
  display: block;
}

.codeLayout {
  text-align: left;
}

.showDivInRed {
  color: red;
}

.line {
  display: block;
  color: #fff;
  text-align: left;
}

.display-off {
  display: none;
  transition: all 0.3s ease;
}
.validation{
  color: #ff0000;
}